html {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    line-height: 10;
    letter-spacing: 10px;
    background-color: #cee8ff;
    text-shadow: 3px 3px 1px rgb(88, 88, 88);
  }
  /*just a test*/
